<div class="container-fluid bg-danger p-0 m-0">
  <h1 class="text-center mt-3">Manga Spot</h1>
</div>

<div class="container-fluid d-flex justify-content-between p-5 flex-wrap">
  <% @articles.each do |article| %>
  <div class="card m-3">
    <h2 class="text-center"><%= link_to article.title, article_path(article) %></h2>
    <p class="text-center"><%= article.body %></p>
  </div>
  <% end %>
</div>
